node_modules/
dist/
build/
lambda-build/
.aws-sam/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
infra/build/
coverage/
*.local
.env
.env.*
!.env.example
.DS_Store
*.log
samconfig.toml
